/*common*/
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Pretendard-Regular';
  min-width: 1120px;
  height: 5000px;
}

body, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
} 

a {
  color: inherit;
  text-decoration: none;
}
p{
  line-height: 1.95;
}

/* middle line */

.first_middle_line {
  background-color: #fafafa;
  width: 100%;
  height: 32px;
  padding: 0;
}

/* custom */
header {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: fixed;
  background-color: #fff;
  z-index: 9;
}
header .inner {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  height: 80px;

}
header .inner .logo {
  margin: 30px 0;
  width: 116px;
  height: 20px;
}
header .inner .nav_inner {
  margin-left: auto;
  display: flex;
  z-index: 1;
} 
header .inner .nav_inner .text{
  margin: 0 10px;
  padding: 0 10px;
  align-self: center;
}
header .inner .nav_inner .text:hover a{
  text-decoration: underline;
}
header .inner .submit-btn {
  background-color: #fede22;
  border: 1px solid #fede22;
  font-size: 14px;
  border-radius: 22px;
  margin: 0 10px;
  padding: 13px 17px;
  align-self: center;
}
header .inner .glove {
  overflow: hidden;
  filter: brightness(0);
  padding: 30px 0px;
  padding-left: 30px;
  padding-right: 20px;
}

/* Section rion line */
.section1 {
  padding: 1px;
  background-color: rgb(255, 239, 107);
  height: 800px;
}
.section1 .rion_container {
  position: relative;
  max-width: 1200px;
  padding-top: 81px;
  height: 884px;
  margin: auto;
}
.section1 .rion_container .rion_img {
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 884px;
  display: block;
  background-repeat: no-repeat; 
  margin: auto;
}
.section1 .rion_container .text_container {
  position: absolute;
  top: 220px;
  left: 90px;
}
.section1 .rion_container .text_container .main_text {
  font-size: 49px;
  margin: 0;

}
.section1 .rion_container .text_container .sub_text1 {
  margin: 0;
  padding-top: 20px;
}
.section1 .rion_container .text_container .sub_text2 {
  margin: 0;
  padding-top: 15px;
}
.section1 .rion_container ul li .google_play {
  position: absolute;
  top: 340px;
  left: -10px;
  border: 1px solid rgba(255, 255, 255, .3);
  background-color: #fff;
  font-size: 16.2px;
  border-radius: 12px;
  font-weight: bold;
  padding: 17px 43px;
  align-self: center; 
}
.section1 .rion_container ul li .google_play:hover {
  text-decoration: underline;
}
.section1 .rion_container ul li .app_store {
  position: absolute;
  top: 340px;
  left: 180px;
  border: 1px solid rgba(255, 255, 255, .3);
  background-color: #fff;
  font-size: 16.2px;
  border-radius: 12px;
  font-weight: bold;
  padding: 17px 43px;
  align-self: center; 
}
.section1 .rion_container ul li .app_store:hover {
  text-decoration: underline;
}
/* Section account line */
.section2  {
  margin-top: 160px;
  height: 745px;
  position: relative;
}
.section2 .account_container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.section2 .account_phone img{
  overflow: hidden;
  width: 473px;
  height: 678px;
  position: absolute;
  top: 30px;
  left: 100px;
}
.section2 .account_text {
  position: absolute;
  top: 220px;
  right: 160px;

}
.section2 .account_text h3{
  font-size: 40px;
  margin: 0;
}
.section2 .account_text p{
  font-size: 15px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 0;
}
.section2 .account_text .account-btn{

  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px 45px;
  align-self: center;
  position: absolute;
  top: 210px;
  right: 109px;
}
.section2 .account_text .account-btn:hover{
  text-decoration: underline;
}
.section2 .account_text .left{
  width: 6px;
  height: 9px;
  left: 195px;
  top: 236px;
  position: absolute;
  overflow: hidden;
}         

/* Section deposit line */

.section3  {
  margin-top: 0;
  height: 750px;
  position: relative;
}
.section3 .deposit_container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.section3 .deposit_phone img{
  opacity: 0;
  display: none;
  overflow: hidden;
  width: 409px;
  height: 722px;
  position: absolute;
  top: 20px;
  right: 0;
  margin-left: 120px;
}
.section3 .deposit_text {
  position: absolute;
  top: 180px;
  left: 130px;

}
.section3 .deposit_text h3{
  font-size: 40px;
  margin: 0;
}
.section3 .deposit_text p{
  font-size: 15px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 0;
}
.section3 .deposit_text .deposit-btn1{
  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 16px 50px;
  align-self: center;
  position: absolute;
  top: 200px;
  left: -10px;
}
.section3 .deposit_text .deposit-btn1:hover{
  text-decoration: underline;
}
.section3 .deposit_text .deposit-btn2{
  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 16px 50px;
  align-self: center;
  position: absolute;
  top: 200px;
  left: 160px;
}
.section3 .deposit_text .deposit-btn2:hover{
  text-decoration: underline;
}
.section3 .deposit_text .left1{
  width: 6px;
  height: 9px;
  left: 110px;
  top: 221px;
  position: absolute;
  overflow: hidden;
}         
.section3 .deposit_text .left2{
  width: 6px;
  height: 9px;
  left: 280px;
  top: 221px;
  position: absolute;
  overflow: hidden;
}         
.section3 .deposit_text .time_line{
  width: 440px;
  position: absolute;
  top: 310px;
  left: -5px;
  overflow: hidden;
}         

/* Section Bank book line */

.section4  {
  height: 750px;
  position: relative;
}
.section4 .book_container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.section4 .book_phone img{
  overflow: hidden;
  width: 459px;
  height: 607px;
  position: absolute;
  top: 88px;
  left: 118px;
}
.section4 .book_text {
  position: absolute;
  top: 210px;
  right: 170px;

}
.section4 .book_text h3{
  font-size: 40px;
  margin: 0;
}
.section4 .book_text p{
  font-size: 15px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 0;
}
.section4 .book_text .book-btn{

  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  padding: 18px 100px;
  align-self: center;
  position: absolute;
  top: 240px;
  right: 73px;
}
.section4 .book_text .book-btn:hover{
  text-decoration: underline;
}
.section4 .book_text .book_left{
  width: 6px;
  height: 9px;
  left: 175px;
  top: 264px;
  position: absolute;
  overflow: hidden;
}      


/* Section deposit line */

.section5  {
  margin-top: 0;
  height: 650px;
  position: relative;
}
.section5 .Savings_container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.section5 .Savings_phone img{
  overflow: hidden;
  width: 492px;
  height: 408px;
  position: absolute;
  top: 125px;
  right: 70px;
  margin-left: 120px;
}
.section5 .Savings_text {
  position: absolute;
  top: 180px;
  left: 180px;

}
.section5 .Savings_text h3{
  font-size: 40px;
  margin: 0;
}
.section5 .Savings_text p{
  font-size: 15px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 0;
}
.section5 .Savings_text .Savings-btn1{
  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 16px 50px;
  align-self: center;
  position: absolute;
  top: 210px;
  left: -10px;
}
.section5 .Savings_text .Savings-btn1:hover{
  text-decoration: underline;
}
.section5 .Savings_text .Savings-btn1{
  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  padding: 18px 95px;
  align-self: center;
  position: absolute;
  top: 215px;

}
.section5 .Savings_text .Savings-btn2:hover{
  text-decoration: underline;
}
.section5 .Savings_text .Savings_left{
  width: 6px;
  height: 9px;
  left: 168px;
  top: 240px;
  position: absolute;
  overflow: hidden;
}         

/* Section Overseas line */

.section6  {
  height: 750px;
  position: relative;
}
.section6 .back-img {
  height: 750px;
  background-image: url("https://www.kakaobank.com/static/images/web/home_map.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: -130px ;
  background-position-y: center;
}
.section6 .Overseas_container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.section6 .Overseas_phone img{
  opacity: 0;
  display: none;
  overflow: hidden;
  width: 408px;
  height: 715px;
  position: absolute;
  top: 50px;
  left: 150px;
}
.section6 .Overseas_text {
  position: absolute;
  top: 200px;
  right: 170px;

}
.section6 .Overseas_text h3{
  font-size: 40px;
  margin: 0;
}
.section6 .Overseas_text p{
  font-size: 15px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 0;
}
.section6 .Overseas_text .Overseas-btn{

  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  padding: 18px 95px;
  align-self: center;
  position: absolute;
  top: 288px;
  right: 61px;
}
.section6 .Overseas_text .Overseas-btn:hover{
  text-decoration: underline;
}
.section6 .Overseas_text .Overseas_left{
  width: 6px;
  height: 9px;
  left: 175px;
  top: 313px;
  position: absolute;
  overflow: hidden;
}