/*common*/
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 1120px;
  height: 5000px;
}

body, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
} 

a {
  color: inherit;
  text-decoration: none;
}
p{
  line-height: 1.95;
}

/* custom */
header {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: fixed;
  background-color: #fff;
  z-index: 9;
}
header .inner {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  height: 80px;

}
header .inner .logo {
  margin: 30px 0;
  width: 116px;
  height: 20px;
}
header .inner .nav_inner {
  margin-left: auto;
  display: flex;
}
header .inner .nav_inner .text{
  margin: 0 10px;
  padding: 0 10px;
  align-self: center;
}
header .inner .nav_inner .text:hover{
  text-decoration: underline;
}
header .inner .submit-btn {
  background-color: #fede22;
  border: 1px solid #fede22;
  font-size: 14px;
  border-radius: 22px;
  margin: 0 10px;
  padding: 13px 17px;
  align-self: center;
}
header .inner .glove {
  filter: brightness(0);
  padding: 30px 0px;
  padding-left: 30px;
  padding-right: 20px;
}

/* Section rion line */
.section1 .rion_container {
  padding-top: 81px;
  background-color: rgb(255, 239, 107);
  height: 720px;
  
}
.section1 .rion_container .rion_img {
  position: absolute;
  width: 1200px;
  height: 884px;
  display: block;
  background-repeat: no-repeat;
  padding: 0 245px;
}
.section1 .rion_container {
  position: relative;
}
.section1 .rion_container .main_text {
  font-size: 49px;
  position: absolute;
  top: 170px;
  left: 330px;
}
.section1 .rion_container .sub_text1 {
  position: absolute;
  top: 355px;
  left: 335px;
}
.section1 .rion_container .sub_text2 {
  position: absolute;
  top: 430px;
  left: 335px;
}
.section1 .rion_container ul li .google_play {
  position: absolute;
  top: 562px;
  left: 325px;
  border: 1px solid rgba(255, 255, 255, .3);
  background-color: #fff;
  font-size: 16.2px;
  border-radius: 12px;
  font-weight: bold;
  margin: 0 10px;
  padding: 17px 43px;
  align-self: center;
}
.section1 .rion_container ul li .google_play:hover {
  text-decoration: underline;
}
.section1 .rion_container ul li .app_store {
  position: absolute;
  top: 562px;
  left: 516px;
  border: 1px solid rgba(255, 255, 255, .3);
  background-color: #fff;
  font-size: 16.2px;
  border-radius: 12px;
  font-weight: bold;
  margin: 0 10px;
  padding: 17px 50px;
  align-self: center;
}
.section1 .rion_container ul li .app_store:hover {
  text-decoration: underline;
}

/* Section account line */
.section2  {
  margin-top: 165px;
  height: 720px;
  position: relative;
}
.section2 .account_phone img{
  width: 473px;
  height: 678px;
  position: absolute;
  top: 36px;
  left: 345px;
}
.section2 .account_text {
  position: absolute;
  top: 220px;
  right: 360px;

}
.section2 .account_text h3{
  font-size: 40px;
  margin: 0;
}
.section2 .account_text p{
  font-size: 15px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 0;
}
.section2 .account_text .account-btn{

  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 20px 45px;
  align-self: center;
  position: absolute;
  top: 210px;
}
.section2 .account_text .account-btn:hover{
  text-decoration: underline;
}
.section2 .account_text .left{
  width: 6px;
  height: 9px;
  left: 230px;
  top: 237px;
  position: absolute;
}         

/* first middle line */

.first_middle_line {
  margin-top: 30px;
  background-color: #fafafa;
  width: 100%;
  height: 32px;
  padding: 0;
}

/* Section account line */

.section3  {
  height: 750px;
  position: relative;
}
.section3 .Deposit_phone img{
  width: 409px;
  height: 722px;
  position: absolute;
  top: 10px;
  right: 316px;
}
.section3 .account_text {
  position: absolute;
  top: 220px;
  right: 360px;

}
.section3 .account_text h3{
  font-size: 40px;
  margin: 0;
}
.section3 .account_text p{
  font-size: 15px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 0;
}
.section3 .account_text .account-btn{

  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 20px 45px;
  align-self: center;
  position: absolute;
  top: 210px;
}
.section3 .account_text .account-btn:hover{
  text-decoration: underline;
}
.section3 .account_text .left{
  width: 6px;
  height: 9px;
  left: 230px;
  top: 237px;
  position: absolute;
}         