/*common*/
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {

}

body, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
} 

a {
  color: inherit;
  text-decoration: none;
}

/* custom */
header {
  border-bottom: 1px solid rgba(0,0,0,0.1);

}
.inner {
  width: 1080px;
  margin-left: auto;
  margin-right:auto;
  display: flex;
  height: 80px;
}
.inner .logo {
  margin: 30px 0;
}
.nav_inner {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.nav_inner .text {
  display: block;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 15px;
}
.nav_inner .text:hover {
  text-decoration: underline;
}

.inner .submit-btn {
  background: #fede22;
  font-size: 14px;
  padding: 13px 19px;
  margin: 0 20px;
  border-radius: 22px;
  margin-top: auto;
  margin-bottom: auto;
}
.inner .glove {
  margin: auto 21px auto 20px;
  filter: brightness(0);
}
.section-top-img {
  background-color: rgb(255, 239, 107);
  height: 720px;
} 
.section-top-img .rion-img {
  max-width: 1170px;
  height: 884px;
  display: block;
}
